name: Patch-Assembly

on:
  workflow_dispatch:

jobs:
  patch:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install mono
        run: sudo apt-get update && sudo apt-get install -y mono-complete

      - name: Download original Assembly-CSharp.dll
        uses: actions/download-artifact@v4
        with:
          name: input
          path: input

      - name: Run patcher
        run: |
          mkdir -p patched
          mono patcher/Patcher.exe input/Assembly-CSharp.dll patched/Assembly-CSharp.dll

      - name: Upload patched file
        uses: actions/upload-artifact@v4
        with:
          name: patched
          path: patched/Assembly-CSharp.dll
